<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Insert header fragment -->
<head th:insert="fragments/fragments.html :: header">
</head>
<body>
	<!-- Replace fragment  -->
	<div th:replace="fragments/fragments.html :: navigation"></div>

	<div class="container">
		<!--For Page-->
		<div class="page">
			<p class="h2 text-center" th:text="${title}"></p>
			<!--Card-->
			<div class="card">
				<!--Card Header-->
				<div class="card-header">
					<p>
						<i class="fa fa-bars"></i> <i class="fa fa-calendar ml-4"
							aria-hidden="true"></i> <i class="fa fa-star ml-4"
							aria-hidden="true"></i> <span class="float-right"> <span
							class="mr-4 navTask">Task</span> <span class="mr-4">Archive</span>
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
					</p>
				</div>
				<!--Card Body-->
				<div id="container">
					<div class="row justify-content-start">
						<!-- ITERATION -->
						<div th:each="break: ${breaks}" class="col-sm-4 mt-2">
							<div class="card">
								<div class="card-header">
									<span th:text="${break.from}"></span> - <span
										th:text="${break.to}"></span>
								</div>
								<div class="card-body">
									<h5 class="card-title">
										<span th:text="${break.location}"></span>
									</h5>
									<p class="card-text">
										<span th:text="${break.description}"></span>
									</p>
									<a href="#" class="btn btn-primary">Attend</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>